<%- include('./shared/header.ejs') %>




    <h1>Hello Dole Seems Like you Testing Ejs !</h1>
    <% if (name !== '') { %>
        <p><%= name %></p>
    <% } %>

    <button type="submit" class="btn btn-success"> Click Here</button>



<%- include('./shared/footer.ejs') %>

    
